@model NetCoreModel.UserInfo
@{
    Layout = null;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录页</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/base/reset.css" asp-append-version="true">
        <link rel="stylesheet" href="~/layui/css/layui.css">
        <link rel="stylesheet" href="~/css/login.css" asp-append-version="true">
    </environment>
    <environment names="Staging,Production">

    </environment>

</head>
<body class="login-container">
    <div class="login-box">
        <h2></h2>
        <form asp-controller="Login" asp-action="Index" method="post" class="layui-form">
            <div class="login-face">
                @*<img src="~/images/Logo.png" alt="郑大智能" />*@
            </div>
            <div class="layui-form-item input-item" lay-filter="username">
                <label class="layui-label" for="userName" style="display: none">用户名</label>
                <input class="layui-input" asp-for="UserName" placeholder="请输入用户名" type="text">
            </div>
            <div class="layui-form-item input-item" lay-filter="password">
                <label class="layui-label" for="password" style="display: none">密码</label>
                <input class="layui-input" asp-for="UserPassWord" placeholder="请输入密码" type="password">
            </div>
            <div class="layui-form-item">
                <button type="submit" class="layui-btn">登录</button>
            </div>
        </form>
        <input type="hidden" asp-for="Message" />
    </div>

    <script src="~/js/jquery-1.91.min.js"></script>
    <script src="~/layui/layui.js"></script>
    <script src="~/js/login.js" asp-append-version="true"></script>
</body>
</html>
<script>
    $(function () {
        var msg = $("#Message").val();
        if (msg != "") {
            layui.use('layer', function () {
                var layer = layui.layer
                layer.msg(msg);
            })
        }
    })
</script>
