
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="show">
        <myqw-component></myqw-component>
    </div>
    <hr />
    <div id="counter-event-example">
        <p>{{ total }}</p>
        <button-counter id="btn" v-on:increment1="incrementTotal"></button-counter>
        <button-counter v-on:increment1="incrementTotal"></button-counter>
    </div>
    <hr />
</body>
</html>
<script src="~/js/jquery-1.91.min.js"></script>
<script src="~/js/vue.js" asp-append-version="true"></script>
<script src="~/js/echarts.min.js"></script>
<script type="text/javascript">
    var zujian = {
        props: {
            'width': {
                type: String,//必须是数字
                default: "width:400px;height:600px",//默认值
            },
        },
        //template: '<div id="main" style="width:"{{ width }}";height:"{{ height }}></div>'
        template: '<div id="main" style="width:400px;height:600px"></div>'
    };
    //局部注册
    new Vue({
        el: '#show',
        // ...
        components: {
            // <my-component> 将只在父组件模板中可用
            'myqw-component': zujian//myqw：组件标签名，可以按规则任意命名
        },
        mounted() {
            this.drawLine();
        },
        methods: {
            drawLine: function () {
                //alert("haha");
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('main'));
                $.get("/Vue/GetVueData", "", function (data) {
                    var option = {
                        title: {
                            text: 'ECharts示例'
                        },
                        tooltip: {},
                        legend: {
                            data: ['销量']
                        },
                        xAxis: {
                            data: data.data1
                        },
                        yAxis: {},
                        series: [{
                            name: '销量',
                            type: 'bar',
                            data: data.data2
                        }]
                    };
                    myChart.setOption(option);
                });              
            }
        }
    });  
    Vue.component('button-counter', {
        template: '<button v-on:click="incrementCounter">{{ counter }}</button>',
        data: function () {
            return {
                counter: 0
            }
        },
        methods: {
            incrementCounter: function () {
                this.counter += 1
                this.$emit('increment1')
            }
        },
    })
    new Vue({
        el: '#counter-event-example',
        data: {
            total: 0
        },
        methods: {
            incrementTotal: function () {
                this.total += 1
            }
        }
    })
</script>